@import "../../../styles/variables.scss";
@import "../../../styles/utils.scss";
@import "../../../styles/breakpoints.scss";

.filter_by_type {
  position: relative;
  width: 120px;

  @include breakpoint(tablet){
    width: 100%;
  }

  &__container {
    @include flexSpaceAround(row);
    padding: 8px;
    cursor: pointer;
    color: $yellowColor;
    height: 30px;
    width: 100%;
    border-radius: 8px;

    @include breakpoint(laptop-small){
      justify-content: center;
    }

    &__active{
      background: $pokBackgroundColor;
    }
    @include breakpoint(tablet) {
      margin: 20px 0 10px;
    }
  }

  &__title {
    font-size: 16px;
    color: $redColor;
    text-transform: capitalize;

    @include breakpoint(laptop-small){
      padding-right: 5px;
    }

    @include breakpoint(tablet){
      color: $darkGreenColor;
      font-size: 20px;
      
    }
  }

  &__arrow {
    color: $yellowColor !important;
    transition: .4s ease;
    transform: rotate(90deg);
    
    &__active{
      transform: rotate(-90deg);
      transition: .4s ease;
      color: $yellowColor;
    }
  }

  &__dropdown {
    position: absolute;
    top: 100%;
    display: none;
    box-shadow: $boxShadow;
    background: $roseColor;
    border-radius: 6px;
    z-index: 5;

    &__active {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    &__element {
      list-style-type: none;
      padding: 15px;
      color: $blueColor;
      font-size: 18px;
      text-transform: capitalize;

      &:hover{
        background: $redColor;
        border-radius: 6px;
      }
    }
  }
}