@import "../../../styles/variables.scss";
@import "../../../styles/utils.scss";
@import "../../../styles/breakpoints.scss";

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 60px;

  @include breakpoint(laptop) {
    padding-top: 50px;
  }
  @include breakpoint(tablet) {
    padding-top: 40px;
  }
  @include breakpoint(phone) {
    padding-top: 30px;
  }

  &__container {
    display: flex;
    align-items: center;

    ul {
      @include flexCenter(row);
    }

    &__btns{
     @include flexCenter(row);

      &__btn{
        width: 40px;
        height: 40px;
        background: $orangeColor;
        border:none;
        outline: none;
        cursor: pointer;
        margin: 0 5px ;
        border-radius: 50%;
        color: $whiteColor;
        @include flexCenter(row);

        @include breakpoint(phone){
          width: 30px;
        }

        &_active{
          background-color: $activeBlackColor;
        }
      }
    }
  }
  &__button {
    list-style-type: none;

    &__dots{
      width: 40px;
      height: 40px;
      background: $orangeColor;
      border: none;
      outline: none;
      cursor: pointer;
      margin: 0 5px ;
      border-radius: 50%;
      color: $whiteColor;
      @include flexCenter(row);
    }
    
    &__element {
      width: 40px;
      height: 34px;
      background: $redColor;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 0 !important;

      @include breakpoint(phone){
        width: 30px;
      }
    }
  }
  
  li {
    list-style-type: none;
    border-radius: 50%;
  }
}