@import "../../../styles/variables.scss";
@import "../../../styles/utils.scss";
@import "../../../styles/breakpoints.scss";

.prev_next_pages {
  @include flexSpaceBetween(row);
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  @include breakpoint(tablet){
    @include flexStart(column);
  }

  &__back {
    @include flexCenter(row);

    p {
      a {
        text-decoration: none;
        color: $redColor;
        font-size: 20px;
      }
    }
  }
  &__next {
    @include flexCenter(row);

    &__text{
      line-break: anywhere;
      a {
        text-decoration: none;
        color: $redColor;
        font-size: 20px;
      }
    }
  }
  &__title {
    font-size: 50px ;
    color: $redColor;

    @include breakpoint(laptop-small){
      font-size: 30px;
    }

    @include breakpoint(phone){
      font-size: 20px;
    }
  }
  &__arrow {
    margin-left: 5px;
  }
  &__left {
    transform: rotate(180deg);
  }
}