@import "../../../styles/variables.scss";
@import "../../../styles/utils.scss";
@import "../../../styles/breakpoints.scss";

.prev_next_pages {
  @include flexSpaceBetween(row);
  
  &__back {
    @include flexCenter(row);

    p {
      a {
        text-decoration: none;
        color: $redColor;
        font-size: 20px;

        @include breakpoint(phone){
          font-size: 13px
        }
      }
    }
  }
  &__next {
    @include flexCenter(row);

    &__text{
      line-break: anywhere;

      a {
        text-decoration: none;
        color: $redColor;
        font-size: 22px;
        text-transform: capitalize;
        font-weight: 500;
        @include breakpoint(phone){
          font-size: 13px;
        }
      }
    }
  }
  &__title {
    font-size: 50px ;
    color: $redColor;
    text-transform: capitalize;
    margin: 25px 0 !important;

    @include breakpoint(laptop-small){
      font-size: 30px;
    }

    @include breakpoint(phone){
      font-size: 20px;
    }
  }

  &__arrow {
    margin-left: 5px;
    cursor: pointer;
  }

  &__left {
    transform: rotate(180deg);
  }

  &__link{

    &__disabled{
      pointer-events: none;  
    }
  }
}