@import "../../../styles/variables.scss";
@import "../../../styles/utils.scss";
.pokemon_item {
  @include flexCenter(column);
  
  &__number {
    color: $greyColor;
    font-size: 14px;
    margin-top: 4px;
  }
  &__type {
    margin-top: 4px;
    font-size: 14px;
    color: $redColor;
  }
}
