@import "../../../styles/utils.scss";
@import "../../../styles/variables.scss";
@import "../../../styles/breakpoints.scss";

.pokemon_evolutions {
  
  @include flexCenter(column);
  padding-top: 40px;

  @include breakpoint(tablet){
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    width: 90%;
    place-items: center;
  }
  &__title {
    font-size: 25px;
    color: $redColor;
  }
  &__container {
    display: grid;
    grid-template-columns: $gridTemplateColumns;


    &__arrow {
      @include flexCenter(row);
    }
  }
}