@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin flexStart($direction) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: $direction;
}

@mixin flexSpaceBetween($direction) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: $direction;
}

@mixin flexSpaceAround($direction){
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: $direction;
}