$redColor: #ff6f61;
$blackColor: #1a0200;
$whiteColor: #fffafa;
$blueColor: #001f3f;
$greyColor: #c0c0c0;
$borderRadius: 8px;
$boxShadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
$gridTemplateColumns: minmax(0, 300px) 100px minmax(0, 300px) 100px minmax(
    0,
    300px
  );