$redColor: #ff6f61;
$blackColor: #1a0200;
$whiteColor: #fffafa;
$blueColor: #001f3f;
$redDarkColor: #C06C84;
$greyColor: #c0c0c0;
$yellowColor: #FFFFCC;
$orangeColor: #ffa600e5;
$borderRadius: 8px;
$errorPageColor: linear-gradient(-100deg, #fa7c30 30%, rgba(0, 0, 0, 0) 30%);
$boxShadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
$gridTemplateColumns: minmax(0, 300px) 100px minmax(0, 300px) 100px minmax(
    0,
    300px
  );