@import "../../../styles/variables.scss";
@import "../../../styles/utils.scss";
@import "../../../styles/breakpoints.scss";

.pokemon_stats {
  @include flexCenter(column);

  &__parent{
    width: 100%;
    @include flexStart(column);

    @include breakpoint(tablet-small){
      flex-direction: row;
      max-height: 500px;
      height: 500px;
    }
  }

  &__title {
    color: $redColor;
    font-size: 22px;
    width: 90%;
    text-align: center;
  }
  
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    gap: 15px 20px;
    width: 90%;
    place-items: center;

    @include breakpoint(tablet-small){
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 500px;
      gap: 0;
    }

    &__title{
      text-transform: capitalize;
      color: $activeBlackColor;
      font-size: 24px;
      text-align: center;
      font-family: cursive;
      font-weight: 500;

      @include breakpoint(tablet){
        font-size: 20px;
      }
    }

    &__item{
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(0,1fr));
      width: 90%;
      gap: 15px 20px;
      place-items: center;

      @include breakpoint(tablet-small){
        display: flex;
        flex-direction: column;
        height: inherit;
       
      }
    }
  }
}