@import "../../../styles/variables.scss";
@import "../../../styles/utils.scss";

.pokemon_stats {
  display: flex;
  flex-direction: column;
  &__title {
    color: $redColor;
    font-size: 22px;
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    gap: 15px 20px;
  }
}