@import "../../styles/variables.scss";
@import "../../styles/utils.scss";
@import "../../styles/breakpoints.scss";

.pokemon_page {
  padding-bottom: 100px;

  &__container {
    max-width: 1150px;
    margin: 0 auto;
    

    @include breakpoint(laptop) {
      max-width: 100%;
      margin: 0 40px;
    }
    @include breakpoint(laptop-small) {
      max-width: 100%;
      margin: 0 25px;
    }
    @include breakpoint(tablet) {
      max-width: 100%;
      margin: 0 25px;
    }
    @include breakpoint(small-phone) {
      max-width: 100%;
      margin: 0 30px;
    }
  }
  &__goback {
    @include flexCenter(row);

    p {
      a {
        color: $redColor;
        font-size: 20px;
      }
    }
  }
}

.pokemon_info__mainInfo__advanced__item{
  @include flexCenter(column);
  align-items: flex-start;
}

.pokemon_info__mainInfo__advanced__text{
  font-size: 20px;
  text-align: center;
  padding: 4px;
  border-radius: 10px;
  border-bottom: 2px solid $redColor;
}

.pokemon_info__mainInfo__advanced__title{
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
  color: $redColor;
  background: $activeBlackColor;
  padding: 8px;
  border-radius: 5px;
}



