@import "../../../styles/variables.scss";
@import "../../../styles/utils.scss";
@import "../../../styles/breakpoints.scss";
.pokemon_info {
  display: grid;
  grid-template-columns: 2fr 3fr;

  @include breakpoint(tablet){
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    width: 90%;
    margin: 0 auto;
  }

  &__image {
    @include flexCenter(row);
    padding: 15px;
    margin-right: 15px;
    height: 90%;

    &__container {
      width: 100%;
      height: 100%;
      background: #dcdcdc;
      border-radius: 16px;

      img {
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: contain;
        
      }
    }
  }


  &__mainInfo {
    display: flex;
    flex-direction: column;
    background: darkgrey;
    border-radius: 16px;

    &__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    @include breakpoint(tablet){
      grid-template-columns: 1fr 1fr;
    }
}

    

    &__sample {
      color: $activeBlackColor;
      font-size: 25px;
      text-align: center;
      font-family: cursive;
      text-transform: capitalize;
      padding: 0 5px;
    }

    &__advanced {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;

      @include breakpoint(tablet-small){
        grid-template-columns: 1fr 1fr;
      }

      &__image{
        width: 35px;
        height: 25px;
        object-fit: cover;
      }

      &__parent{
        @include flexStart(column);

        &__title{
          

          font-size: 20px;
          text-align: center;
          padding: 4px;
          border-radius: 10px;
          border-bottom: 2px solid $redColor;
          text-transform: capitalize;
        }

        &__text{
          text-transform: capitalize;
          font-size: 18px;
          font-weight: 500;
          color: $redColor;
          background: $activeBlackColor;
          padding: 8px;
          border-radius: 5px;
          text-align: center;
          width: 80%;
          @include flexCenter(row);
          max-height: 50px;
          height: 50px;

          &__type{
            margin-left: 5px;
          }
        }
      }

      &__type__parent{
        display: flex;
        justify-content: space-around;
      }
    }
  }  
}
  



