@import "../../styles/animations.scss";
@import "../../styles/breakpoints.scss";
@import "../../styles/variables.scss";
@import "../../styles/utils.scss";

.error_page{
    @include flexCenter(column);
    background: $errorPageColor;
    height: 100vh;

    &__container{
        max-width: 1150px;
        margin: 0 auto;
    
        @include breakpoint(laptop) {
          max-width: 100%;
          margin: 0 40px;
        }

        @include breakpoint(laptop-small) {
          max-width: 100%;
          margin: 0 25px;
        }

        @include breakpoint(tablet) {
          max-width: 100%;
          margin: 0 25px;
        }

        @include breakpoint(small-phone) {
          max-width: 100%;
          margin: 0 30px;
        }

        &__pic{
            height: 400px;
            width: 400px;
            object-fit: contain;

            @include breakpoint(tablet){
                height: 300px;
                width: 300px;
            }
        }

        &__info{
            @include flexCenter(column);

            &__text{
                font-size: 32px;

                @include breakpoint(tablet){
                    font-size: 20px;
                }
            }

            &__back{
                
                a{
                font-size: 32px;
                text-decoration: underline;
                color: $orangeColor;

                &:hover{
                    text-decoration: none;
                }

                @include breakpoint(tablet){
                    font-size: 20px;
                }
                }
            }
        }
    }
}