@import "../../../styles/breakpoints.scss";
@import "../../../styles/utils.scss";
@import "../../../styles/variables.scss";

.pokemon_cards{
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-gap: 20px;
    margin-top: 20px;

    @include breakpoint(laptop) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    @include breakpoint(laptop-small){
      grid-template-columns: repeat(3,minmax(0,1fr));
    }
    @include breakpoint(tablet) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include breakpoint (phone) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}